wallet-automation.json
{
  "name": "wallet-automation",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json.body.to[0].email }}",
        "subject": "={{ $json.body.subject }}",
        "message": "={{ $json.body.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -496,
        -144
      ],
      "id": "600c5369-5f81-4df6-ad0d-4d63be0400fa",
      "name": "Send a message",
      "webhookId": "3e44f893-b196-438b-8f58-39c8cad264eb",
      "credentials": {
        "gmailOAuth2": {
          "id": "GIPMBDPcnYKMDP0R",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  // --- Obtención de datos originales ---\n  let Originalsubject = item.json.subjetEmail;\n  let tranferType = 'DESCONOCIDO'\n  const body = item.json.snippet; // Cuerpo del mensaje\n  const emailId = item.json.id;                          // El ID único del correo\n  const dateValue = item.json.internalDate;  \n  \n  // 1. LIMPIEZA DEL ASUNTO: Elimina cualquier patrón \"Notificacion de Xxx: \" al inicio\n  // [^:]+ captura el nombre de la app (Tasker, Nequi Colombia, etc.)\n   Originalsubject = Originalsubject.replace(/^Notificacion de [^:]+:\\s*/i, '').trim();\n\n  // --- 2. DETERMINACIÓN DEL TIPO (Tipo) ---\n  let tipo = 'desconocido';\n  if (Originalsubject.includes('Recibiste')) {\n    tipo = 'ingreso'; // Correo de Nu/Recibido\n    tranferType = 'BREVE NU'\n  } else if (Originalsubject.includes('Envío Exitoso') ) {\n    tipo = 'egreso'; \n    tranferType = 'QR NEQUI'\n  } else if (Originalsubject.includes('Tu plata llegó con éxito')){\n    tipo = 'egreso'; \n    tranferType = 'APP NEQUI'\n  } else if(Originalsubject.includes('Enviaste')){\n    tipo = 'egreso'; \n    tranferType = 'BREVE NU'\n  } else if (Originalsubject.includes('Compra aprobada')){\n    tipo = 'egreso'; \n    tranferType = 'TARJETA NU'\n  }\n\n  // --- 3. EXTRACCIÓN CONDICIONAL (Nombre, Cantidad, Asunto Final) ---\n  let name = 'Desconocido';\n  let asunto = Originalsubject; \n  let cantidad = '0,00';\n\n  if (tipo === 'ingreso' &&  tranferType === 'BREVE NU') {\n    // Lógica de INGRESOS (Tasker/Recibiste)\n    \n    // Cantidad: Busca el formato con coma (ej: 100,00)\n    const cantidadMatch = Originalsubject.match(/(\\d{1,3}(?:\\.\\d{3})*,\\d{2})/);\n    cantidad = cantidadMatch ? cantidadMatch[1] : '0,00';\n    \n    // Nombre: Busca el nombre entre \"de \" y \" con tu llave\"\n    const nameMatch = body.match(/de\\s(.*?)\\scon tu llave/i);\n    name = nameMatch ? nameMatch[1].trim() : 'Desconocido (I)';\n    \n    // Asunto para la hoja (Obtenido del body)\n    const desiredAsuntoMatch = body.match(/(Te llegó dinero de.*?)\\./i); \n    asunto = desiredAsuntoMatch ? desiredAsuntoMatch[1].trim() + '.' : Originalsubject;\n\n  } else if (tipo === 'egreso') {\n\n    //Validación para machear el nombre de la transferencia\n    if(tranferType ===\"QR NEQUI\"){\n      const nameMatch = body.match(/Mensaje:\\s*([^\\s]+ [^\\s]+)\\s+ya recibió/i); \n      name = nameMatch ? nameMatch[1].trim() : 'Desconocido (E)';\n      \n    }else if(tranferType ===\"BREVE NU\"){\n      const nameMatch = body.match(/Le enviaste a (.*?) en su cuenta de NU/i);\n      name = nameMatch ? nameMatch[1].trim() : 'Desconocido (BN)';\n    } else if(tranferType ===\"TARJETA NU\") {\n      const nameMatch = body.match(/Compra en (.*?) con tu tarjeta débito/i);\n       name = nameMatch ? nameMatch[1].trim() : 'Desconocido (TN)';\n    }\n    \n    // Cantidad: Busca el patrón $X.XXX en el body (más confiable para Nequi)\n    const cantidadMatchBody = body.match(/\\$([\\d\\.,]+)/);\n    if (cantidadMatchBody) {\n        // Limpiamos $4.000 para que quede 4.000 (O mantenemos 4,000 según tu Google Sheet)\n        // Usaremos replace para que 4.000 (separador de miles) quede como 4000\n     console.log(cantidadMatchBody[1])\n        cantidad = `${cantidadMatchBody[1].replace(/\\./g, '')},00`; \n        // Si necesitas 4.000 con punto de mil, mantén el separador si existe:\n        // cantidad = cantidadMatchBody[1].replace('$', '').trim();\n    }\n    \n    // Asunto para la hoja: Describe la acción\n    asunto = `Envío Exitoso a ${name}`;\n    \n  } else {\n    // Si no coincide con ninguna billetera, deja los valores por defecto\n    asunto = Originalsubject;\n  }\n  \n  \n  // --- 5. Formato de Fecha (Convierte el timestamp a formato legible) ---\n  let formattedDate = '';\n  try {\n    const dateNumber = parseInt(dateValue, 10)\n      const dateObj = new Date(dateNumber);\n      // Formato DD/MM/YYYY HH:MM:SS para Google Sheets\n      formattedDate = dateObj.toLocaleString('es-ES', { \n          year: 'numeric', \n          month: '2-digit', \n          day: '2-digit', \n          hour: '2-digit', \n          minute: '2-digit', \n          second: '2-digit',\n          hour12: false // Formato 24 horas\n      });\n  } catch (error) {\n      formattedDate = dateValue; // Si hay un error, usa el valor original\n  }\n  \n  // --- Generación del Output Final ---\n  items.push({\n    json: {\n      Name: name,\n      Asunto: asunto,\n      Cantidad: cantidad,\n      Tipo: tipo,\n      TipoDeTransferencia: tranferType,\n      Date: formattedDate,  // Nuevo: Fecha y hora formateada\n      Id: emailId,          // Nuevo: ID del correo\n      // ID para marcar como leído (originalMessageId)\n      originalMessageId: emailId \n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        432
      ],
      "id": "7d2b1471-404a-45c5-83b4-35f8c30f8df7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        192
      ],
      "id": "50121936-6411-4dac-bb3e-59fab3d0717b",
      "name": "Cron cada 1H"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_google_tokens"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        192
      ],
      "id": "677c197d-adc8-4323-b664-101dc0cb504c",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "WbHP3cuR8GuHjmKM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"516020223659-j1jgm7vd53sfsnql29itjpmc6vf3oj5i.apps.googleusercontent.com\",\n  \"client_secret\": \"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\",\n  \"refresh_token\": \"{{ $json.refresh_token }}\",\n\"grant_type\": \"refresh_token\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        192
      ],
      "id": "b3c84b9b-e29c-49b2-8bd3-4c7897739d85",
      "name": "Get new refresh token",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/gmail/v1/users/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=from:me to:me is:unread"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get new refresh token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        432
      ],
      "id": "76e76049-5ea6-4713-b028-c0acd4a665af",
      "name": "Get Id of gmails ",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get new refresh token').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "response": {},
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        432
      ],
      "id": "b45ccdac-ca64-4e5a-b804-05897850c39c",
      "name": "HTTP Request1",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        720,
        432
      ],
      "id": "f3fd34d6-dbc2-4de9-9b31-422904138c04",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "let itemFormat = []\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  let subjetEmail = \"\"\n  let snippet = item.json.snippet;\n  let id = item.json.id;\n  let internalDate = item.json.internalDate;\n  \n item.json.payload.headers.forEach(subjet => {\n   if(subjet.name == \"Subject\"){\n     subjetEmail = subjet.value;\n   }\n })\n\n  itemFormat.push({\n    id,\n    subjetEmail,\n    internalDate,\n    snippet\n  })\n  \n}\n\nreturn itemFormat;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        432
      ],
      "id": "1625c686-2d56-44e7-bb5a-5152d872ac80",
      "name": "Parse object emails"
    },
    {
      "parameters": {
        "path": "8fa7604c-62c9-4af0-947d-ea9333e6ce64",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -800,
        448
      ],
      "id": "85c9f174-17f8-49c6-835a-389c263e42b8",
      "name": "Webhook",
      "webhookId": "8fa7604c-62c9-4af0-947d-ea9333e6ce64",
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f0bc042-fa6a-4c2c-b63f-095c9032cd32",
              "leftValue": "={{ $('Get many rows').item.json.spreadsheet_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        416
      ],
      "id": "4ff0253b-5071-4c6b-bb3e-11d6e071b0e8",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get new refresh token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"title\": \"Finanzas Nequi - {{ $('Get many rows').item.json.user_id }}\"\n  },\n  \"sheets\": [\n    {\n    \"properties\": {\n        \"title\": \"Sheet1\"\n      },\n      \"data\": [\n        {\n          \"startRow\": 0,\n          \"startColumn\": 0,\n          \"rowData\": [\n            {\n              \"values\": [\n                { \"userEnteredValue\": { \"stringValue\": \"ID Transacción\" } },\n                { \"userEnteredValue\": { \"stringValue\": \"Fecha\" } },\n                { \"userEnteredValue\": { \"stringValue\": \"Asunto\" } },\n                { \"userEnteredValue\": { \"stringValue\": \"Tipo de transferencia\" } },\n                { \"userEnteredValue\": { \"stringValue\": \"Tipo\" } },\n                { \"userEnteredValue\": { \"stringValue\": \"Nombre\" } },\n                { \"userEnteredValue\": { \"stringValue\": \"Cantidad\" } }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        112
      ],
      "id": "d661c097-48f1-4841-947d-4f9c2a4621b0",
      "name": "create sheet"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_google_tokens",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "spreadsheet_id",
              "fieldValue": "={{ $json.spreadsheetId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        112
      ],
      "id": "5d310bd2-843f-4bc6-ba50-b6c60666fde2",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "WbHP3cuR8GuHjmKM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Get many rows').item.json.spreadsheet_id || $('create sheet').item.json.spreadsheetId }}/values/Sheet1!A1:append?valueInputOption=USER_ENTERED",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get new refresh token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"values\": $json.datos_agregados.map(item => [\n    item.Id,\n    item.Date,\n    item.Asunto,\n    item.TipoDeTransferencia,\n    item.Tipo,\n    item.Name,\n    item.Cantidad\n  ])\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1696,
        432
      ],
      "id": "c1b3f57e-52f9-499d-b8f4-ce87e677fa24",
      "name": "isert values in google sheet"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "datos_agregados",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1488,
        432
      ],
      "id": "9243a470-b2fe-4cbb-bab9-3501e930c7ec",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/batchModify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get new refresh token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"ids\": $('Aggregate').item.json.datos_agregados.map(item => item.Id) ,\n  \"removeLabelIds\": [\"UNREAD\"]\n}\n}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1904,
        432
      ],
      "id": "20f64124-308c-4c0a-9402-240f7f8ebcff",
      "name": "Mark gmail read",
      "notesInFlow": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"guardado exitoso\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2112,
        432
      ],
      "id": "5238688d-739f-443f-a1ae-6d6334d38349",
      "name": "Response of webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "88d8b9df-a83e-4430-bef3-0df165d724f8",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        -144
      ],
      "id": "17f40e15-7a9b-403a-b239-01627eb8424f",
      "name": "enviar-notificacion-tasker",
      "webhookId": "88d8b9df-a83e-4430-bef3-0df165d724f8"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron cada 1H": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Get new refresh token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get new refresh token": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Id of gmails ": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Parse object emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse object emails": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "create sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Id of gmails ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create sheet": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Get Id of gmails ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isert values in google sheet": {
      "main": [
        [
          {
            "node": "Mark gmail read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "isert values in google sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark gmail read": {
      "main": [
        [
          {
            "node": "Response of webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-notificacion-tasker": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "6c636576-ea38-4777-9222-dbdc38233a32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3700edac09a9d4020292bc4d75c87360a5d80e75a7779b430c4d1e9b8701a675"
  },
  "id": "LV0uQiUUuwAL0b80",
  "tags": []
}